*{
    box-sizing: border-box;
}
.shape-1{
    background-color: blue;
    width: 150px;
    height: 20vh;
    transition: 1s;
}
.shape-1:active{
    width: 100%;
    transition: 1s;
}
.shape-2{
    background-color: green;
    width: 150px;
    height: 20vh;
    transition: 1s;
}
.shape-2:hover{
    width: 100%;
    transition: 1s;
    
}